# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Training/Data
dataset/
dataset_clean/
dataset_person/
data/
runs/
temp_frames/

# Model Weights
*.pt
*.pth
*.onnx
*.engine
*.tflite

# Logs
logs/
*.log

# Debug
debug/

# OS
.DS_Store
Thumbs.db

# Media files
*.mp4
*.MOV
*.avi
*.jpg
*.jpeg
*.png

# Sample videos/images
Sample_data/

# Alerts
alerts/

# Experimental
experimental_pipeline.py